<div class="hc-cmb-free" [ngStyle]="containerStyle" (mousedown)="onContainerMouseDown($event)">
  <div class="hc-cmb-free-ctrl" [ngStyle]="controlStyle">
    <div class="hc-cmb-free-input">
      <input #input type="text" [ngStyle]="inputStyle" [ngModel]="getSelectedValue()" (input)="onInput()" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" [attr.tabindex]="tabIndexAttr" [attr.readonly]="isReadOnlyAttr" />
    </div>
    <div #arrow class="hc-cmb-free-arrow" [ngStyle]="arrowStyle" (mouseover)="onArrowEnter()" (mouseout)="onArrowLeave()" (click)="onArrowClick()">
      <span>
        <i class="fas fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div *ngIf="dropDownVisible" class="hc-cmb-free-list" [ngStyle]="dropDownStyle" [@listState]>
    <div #scroller class="hc-cmb-free-list-scroller" [ngStyle]="dropDownScrollerStyle">
      <ul #list>
        <li *ngFor="let entry of entries; index as i;" [ngClass]="{ 'selected': i === getSelectedListIndex() }" (click)="onEntryClicked($event, i)">
          <span *ngIf="entry.getValue()">{{ entry.getValue() }}</span>
          <span *ngIf="!entry.getValue()">&nbsp;</span>
        </li>
      </ul>
    </div>
  </div>
</div>
