@import '../../../scss/variables.scss';

.wrapper {
  width: 100%;

  .loader {
    height: $loading-bar-height;
    position: relative;
    overflow: hidden;
    background-color: transparent;
  }

  .loader:before {
    display: block;
    position: absolute;
    content: '';
    left: -100%;
    width: 100%;
    height: $loading-bar-height;
    background-color: $loading-bar-color;
    animation: loading 1.5s ease-in-out infinite;
  }
}

@keyframes loading {
  from {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
