<div class="hc-cmb-list" [ngStyle]="containerStyle" (mousedown)="onContainerMouseDown($event)">
  <div #control class="hc-cmb-list-ctrl" [ngStyle]="controlStyle" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" (click)="onControlClick()" [attr.tabindex]="tabIndexAttr">
    <div class="hc-cmb-list-value" [ngStyle]="valueStyle">
      <span [ngStyle]="this.getPlaceholderShown() ? {'color': '#b4b4b4' } : null">{{ getDisplayValue() }}</span>
    </div>
    <div #arrow class="hc-cmb-list-arrow">
      <span>
        <fa-icon [icon]="iconCaretDown" />
      </span>
    </div>
  </div>
  @if (dropDownVisible) {
  <div class="hc-cmb-list-list" [ngStyle]="dropDownStyle" [@listState]>
    <div #scroller class="hc-cmb-list-list-scroller" [ngStyle]="dropDownScrollerStyle">
      <ul #list>
        @for (entry of entries; track $index) {
        <li [ngClass]="{ 'selected': $index === getSelectedListIndex() }" (click)="onEntryClicked($index)">
          @if (entry.getValue()) {
          <span>{{ entry.getValue() }}</span>
          } @else {
          <span>&nbsp;</span>
          }
        </li>
        }
      </ul>
    </div>
  </div>
  }
</div>
