:host, .hc-cmb-list {
  position: absolute;
}

.hc-cmb-list-ctrl {
  display: flex;
  overflow: hidden;
}

.hc-cmb-list-value {
  flex: 1;
  display: flex;
  overflow: hidden;

  span {
    flex: 1;
    width: 100%;
    white-space: nowrap;
  }
}

.hc-cmb-list-arrow {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  width: 17px;
  border-left: 1px solid transparent;

  &:hover,
  &:active {
    border-left-style: solid;
    border-left-width: 1px;
  }

  span {
    flex: 1;
    text-align: center;
  }
}

.hc-cmb-list-list {
  position: absolute;
  overflow: hidden;
  z-index: 3000;
  color: black;
  background-color: white;
}

.hc-cmb-list-list-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    display: inline-block;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      cursor: pointer;
      padding: 0.1em 0.2em;

      &.selected {
        color: white;
        background-color: #337ab7;
      }

      &:not(.selected):hover,
      &:not(.selected):active {
        background-color: #efefef;
      }

      span {
        white-space: nowrap;
      }
    }
  }
}
