:host,
.hc-cmb-list-mobile {
  position: absolute;

  .hc-cmb-list-mobile-ctrl {
    display: flex;
    overflow: hidden;

    .hc-cmb-list-mobile-value {
      flex: 1;
      display: flex;
      overflow: hidden;

      span {
        flex: 1;
        width: 100%;
        white-space: nowrap;
      }
    }

    .hc-cmb-list-mobile-arrow {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      width: 1.7rem;
      border-left: 0.1rem solid transparent;

      &:hover,
      &:active {
        border-left-style: solid;
        border-left-width: 0.1rem;
      }

      span {
        flex: 1;
        text-align: center;
      }
    }
  }
}
