<div class="hc-cmb-list-mobile" [ngStyle]="containerStyle" (mousedown)="onContainerMouseDown($event)">
  <div #control class="hc-cmb-list-mobile-ctrl" [ngStyle]="controlStyle" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" (click)="onControlClick()" [attr.tabindex]="tabIndexAttr">
    <div class="hc-cmb-list-mobile-value" [ngStyle]="valueStyle">
      <span [ngStyle]="this.getPlaceholderShown() ? {'color': '#b4b4b4' } : null">{{ getDisplayValue() }}</span>
    </div>
    <div #arrow class="hc-cmb-list-mobile-arrow">
      <span>
        <fa-icon [icon]="iconCaretDown"></fa-icon>
      </span>
    </div>
  </div>
</div>
