@import '../../../scss/variables.scss';

@mixin navbar-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 0.75em;
    line-height: $navbar-brand-fontsize;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }

    &.active,
    &:hover {
      color: $navbar-color-highlight;
      background-color: $navbar-background-highlight;
    }

    span.hc-navbar-close-icon-span {
      margin-left: 0.3em;
      color: $navbar-color;

      &:hover {
        color: $navbar-close-hover;
      }
    }
  }
}

@mixin navbar-side-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    height: $navbar-height;
    padding: 0 0.5em;
    line-height: $navbar-brand-fontsize;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }

    &.active,
    &:hover {
      color: $navbar-color-highlight;
      background-color: $navbar-background-highlight;
    }

    span.hc-navbar-list-title-span {
      flex: 1;
    }

    span.hc-navbar-close-icon-span {
      flex: 0 0 auto;
      display: flex;
      color: $navbar-color;

      &:hover {
        color: $navbar-close-hover;
      }
    }
  }
}

.hc-navbar {
  position: relative;
  display: flex;
  height: $navbar-height;
  color: $navbar-color;
  background-color: $navbar-background;
  border-bottom: 1px solid $navbar-border-color;
  user-select: none;
  cursor: default;

  .hc-navbar-left {
    flex: 1;
    display: flex;

    @media (min-width: $breakpoint) {
      flex: 0 0 auto;
    }

    .hc-navbar-tools-list {
      display: inline-flex;
      @include navbar-list();

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    .hc-navbar-title {
      flex: 0.95;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $navbar-brand-fontsize;
      font-weight: bold;

      @media (min-width: $breakpoint) {
        flex: 0 0 auto;
        margin-left: $navbar-height / 4;
      }
    }
  }

  .hc-navbar-center {
    flex: 1;
    display: none;
    overflow: hidden;
    margin-left: $navbar-height / 4;

    @media (min-width: $breakpoint) {
      display: flex;
    }

    .hc-navbar-tabs-center {
      flex: 1;
      display: flex;
      overflow: hidden;

      .hc-navbar-tabs-list {
        display: inline-flex;
        @include navbar-list();
      }
    }

    .hc-navbar-tabs-left,
    .hc-navbar-tabs-right {
      flex: 0 0 auto;
      display: flex;

      div {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: $navbar-color-highlight;
        }
      }
    }

    .hc-navbar-tabs-left {
      div {
        border-right: 1px solid $grey1;
        margin-right: 0.3rem;
      }
    }

    .hc-navbar-tabs-right {
      div {
        border-left: 1px solid $grey1;
        margin-left: 0.3rem;
      }
    }
  }

  .hc-navbar-right {
    flex: 0 0 auto;
    display: none;

    @media (min-width: $breakpoint) {
      display: flex;
    }

    .hc-navbar-tools-list {
      margin-left: $navbar-height / 4;
      @include navbar-list();
    }
  }

  .loader {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
  }
}

.hc-navbar-side {
  z-index: 2000;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $navbar-height;
  bottom: 0;
  width: 300px;
  color: $navbar-color;
  background-color: $navbar-background;
  user-select: none;
  cursor: default;

  &:after {
    box-shadow: 10px 0 10px -10px black inset;
    content: " ";
    height: 100%;
    position: absolute;
    right: -10px;
    width: 10px;
  }

  .hc-navbar-side-top {
    flex: 0 0 auto;
    display: flex;
    height: $navbar-height;
    border-bottom: 1px solid $navbar-border-color;
    align-items: center;
    justify-content: center;

    span {
      font-size: $navbar-brand-fontsize;
      font-weight: bold;
    }
  }

  .hc-navbar-side-middle {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .hc-navbar-side-tabs-list {
      @include navbar-side-list();
    }
  }

  .hc-navbar-side-bottom {
    flex: 0 0 auto;
    border-top: 1px solid $navbar-border-color;

    .hc-navbar-side-tools-list {
      @include navbar-side-list();
    }
  }
}

.hc-navbar-side-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: $navbar-height;
  bottom: 0;
  background-color: black;
  opacity: 0.75;
}
