:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 10px black;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;

    .scroller {
      display: flex;
      flex-direction: column;
      overflow: auto;

      .list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding: 1em;
          cursor: pointer;

          &:not(:last-child) {
            border-bottom: 1px solid lightgrey;
          }

          &.selected {
            color: white;
            background-color: #337ab7;
          }

          &:not(.selected):hover,
          &:not(.selected):active {
            background-color: #efefef;
          }

          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
