@import '../../../../scss/variables';

:host {
  position: absolute;
}

div {
  position: absolute;
  overflow: hidden;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

textarea::placeholder {
  color: $placeholder;
}
