<nav class="header" hcMediaQuery [mediaQuery]="'(min-width: 768px)'" (mediaQueryChanged)="mediaQueryChanged($event)">
  <div class="header-left">
    @if (showCompact) {
    <button type="button" class="header-left-button" (click)="toggleSidebar()">
      <fa-icon [icon]="iconBars" [fixedWidth]="true" size="lg" />
    </button>
    } @else {
    <div class="header-left-label">
      <span>{{ appTitle }}</span>
    </div>
    }
  </div>
  <div class="header-center" [style.background-color]="showCompact ? getFormBgColor() : null">
    @if (showCompact) {
    <div class="header-center-label">
      <span>{{ getFormTitle() }}</span>
      @if (selectedForm?.isCloseIconVisible()) {
      <button type="button" (click)="closeForm(selectedForm)" class="header-compact-form-close-btn">
        <fa-icon [icon]="iconTimes" />
      </button>
      }
      @if (getBadgeImageSrc() != null) {
      <img [src]="getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
      }
    </div>
    } @else {
    <div class="header-center-tabs">
      <overlay-scrollbars class="scroller" [options]="scrollerOptions">
        <div #tabs class="header-tabs-list">
          @for (form of forms; track $index) {
          <div [ngClass]="{'active': form.getId() === selectedForm?.getId(), 'hasBadge': form.getBadgeImageSrc() != null}" [style.background-color]="form.getId() === selectedForm?.getId() ? getFormBgColor() : null" (click)="selectForm($event, form)">
            @if (form.getBadgeImageSrc() != null) {
            <img [src]="form.getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
            }
            <span>{{ form.getTitle() }}</span>
            @if (form.isCloseIconVisible()) {
            <button type="button" (click)="closeForm(form)" class="header-form-close-btn">
              <fa-icon [icon]="iconTimes" />
            </button>
            }
          </div>
          }
        </div>
      </overlay-scrollbars>
    </div>
    }
  </div>
  <div class="header-right">
    <button type="button" [attr.disabled]="disabledAttr" (click)="switchBroker()">
      <fa-icon [icon]="iconSignOut" [fixedWidth]="true" size="lg" />
    </button>
  </div>
</nav>
