<nav class="header" hcMediaQuery [mediaQuery]="'(min-width: 768px)'" (mediaQueryChanged)="mediaQueryChanged($event)">
  <div class="header-left">
    <div class="header-left-label" *ngIf="!showCompact">
      <span>{{ appTitle }}</span>
    </div>
    <button class="header-left-button" (click)="toggleSidebar()" *ngIf="showCompact">
      <fa-icon [icon]="iconBars" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
  </div>
  <div class="header-center" [style.background-color]="showCompact ? getFormBgColor() : null">
    <div class="header-center-label" *ngIf="showCompact">
      <span>{{ getFormTitle() }}</span>
      <img *ngIf="getBadgeImageSrc() != null" [src]="getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
    </div>
    <div class="header-center-tabs" *ngIf="!showCompact">
      <div #arrowLeft class="arrow arrowLeft" (mousedown)="startScrollingLeft($event)" (mouseup)="stopScrollingLeft()" (mouseleave)="stopScrollingLeft()">
        <fa-icon [icon]="iconAngleLeft"></fa-icon>
      </div>
      <overlay-scrollbars #scroller class="scroller os-host-flexbox" [options]="scrollerOptions">
        <div #tabs class="header-tabs-list">
          <div *ngFor="let form of forms" [ngClass]="{'active': form.getId() === selectedForm?.getId(), 'hasBadge': form.getBadgeImageSrc() != null}" [style.background-color]="form.getId() === selectedForm?.getId() ? getFormBgColor() : null" (click)="selectForm($event, form)">
            <img *ngIf="form.getBadgeImageSrc() != null" [src]="form.getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
            <span>{{ form.getTitle() }}</span>
            <button *ngIf="form.isCloseIconVisible()" (click)="closeForm(form)" class="header-form-close-btn">
              <fa-icon [icon]="iconTimes"></fa-icon>
            </button>
          </div>
        </div>
      </overlay-scrollbars>
      <div #arrowRight class="arrow arrowRight" (mousedown)="startScrollingRight($event)" (mouseup)="stopScrollingRight()" (mouseleave)="stopScrollingRight()">
        <fa-icon [icon]="iconAngleRight"></fa-icon>
      </div>
    </div>
  </div>
  <div class="header-right">
    <button [attr.disabled]="disabledAttr" (click)="switchBroker()">
      <fa-icon [icon]="iconSignOut" [fixedWidth]="true" size="lg"></fa-icon>
    </button>
  </div>
</nav>
