.selector-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  .selector-frame {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background-color: white;
    border: 0.1rem solid #636363;
    opacity: 0.5;
    transition: all 100ms ease-in-out;

    .selector-checkmark-path {
      stroke: #303030;
      stroke-width: 0.25rem;
    }
  }

  .input:checked + .selector-frame {
    opacity: 1;
    background-color: #1871FF;
    border: 0.1rem solid #1871FF;

    .selector-checkmark-path {
      stroke: white;
    }
  }

  .input:disabled:checked + .selector-frame {
    background-color: #67A2FF;
    border: 0.1rem solid #67A2FF;
  }
}
