<div class="hc-msgbox-wrapper" hcDialogResize>
  <div class="hc-msgbox-header">
    <div class="hc-msgbox-header-title">
      <span>{{ title }}</span>
    </div>
    @if (icon !== iconType.None) {
    <div class="hc-msgbox-header-icon">
      @switch (icon) {
      @case (iconType.Error) {
      <fa-icon class="fa-exclamation-circle" [icon]="iconExclamationCircle" size="2x" />
      }
      @case (iconType.Exclamation) {
      <fa-icon class="fa-exclamation-triangle" [icon]="iconExclamationTriangle" size="2x" />
      }
      @case (iconType.Question) {
      <fa-icon class="fa-question-circle" [icon]="iconQuestionCircle" size="2x" />
      }
      @default {
      <fa-icon class="fa-info-circle" [icon]="iconInfoCircle" size="2x" />
      }
      }
    </div>
    }
  </div>
  <div class="hc-msgbox-message">
    <span>{{ message }}</span>
  </div>
  <div #footer class="hc-msgbox-footer" tabindex="-1" cdkTrapFocus>
    @for (btn of getButtons(); track btn.label) {
    <button type="button"
            mat-raised-button
            (click)="btn.click()"
            [attr.cdkFocusInitial]="btn.focus ? '' : null">
      {{ btn.label }}
    </button>
  }
  </div>
</div>
