<nav class="hc-navbar">
  <div class="hc-navbar-container">
    <div class="hc-navbar-left">
      <span class="hc-navbar-title">HTML Client</span>
    </div>
    <div class="hc-navbar-center">
      <ul class="hc-navbar-tabs">
        <li class="active">Auftrag</li>
        <li>Bestellung</li>
        <li>Project</li>
      </ul>
    </div>
    <div class="hc-navbar-right">
      <ul class="hc-navbar-tools">
        <li><span class="fa fa-fw fa-sign-out"></span></li>
      </ul>
    </div>
  </div>
</nav>
