<div class="hc-errorbox-wrapper" hcDialogResize>
  <div class="hc-errorbox-header">
    <div class="hc-errorbox-header-title">
      <span>{{ title }}</span>
    </div>
    <div class="hc-errorbox-header-icon">
      <fa-icon [icon]="iconExclamation" size="2x" />
    </div>
  </div>
  <div class="hc-errorbox-message" *ngIf="!showStackTrace">
    <span>{{ message }}</span>
  </div>
  <div class="hc-errorbox-stacktrace" *ngIf="showStackTrace && stackTrace">
    <div class="hc-errorbox-stacktrace-scroller">
      <span>{{ stackTrace }}</span>
    </div>
  </div>
  <div #footer class="hc-errorbox-footer" tabindex="-1" cdkTrapFocus>
    <button type="button" mat-raised-button (click)="onDetailsClick()" *ngIf="stackTrace">Details</button>
    <button type="button" mat-raised-button (click)="onOkClick()">Ok</button>
  </div>
</div>
