<div class="hc-errorbox-wrapper" [ngStyle]="wrapperStyle">
  <div class="hc-errorbox-header">
    <div class="hc-errorbox-header-icon">
      <i class="fas fa-exclamation-circle fa-2x"></i>
    </div>
    <div class="hc-errorbox-header-title">
      <span>{{ title }}</span>
    </div>
  </div>
  <div class="hc-errorbox-message" *ngIf="!showStackTrace">
    <span>{{ message }}</span>
  </div>
  <div class="hc-errorbox-stacktrace" *ngIf="showStackTrace && stackTrace">
    <div class="hc-errorbox-stacktrace-scroller">
      <span>{{ stackTrace }}</span>
    </div>
  </div>
  <div #footer class="hc-errorbox-footer" tabindex="-1" cdkTrapFocus>
    <button mat-raised-button (click)="onDetailsClick($event)" *ngIf="stackTrace">Details</button>
    <button mat-raised-button (click)="onOkClick($event)">Ok</button>
  </div>
</div>
