<div class="hc-cmb" [ngStyle]="containerStyle" (mousedown)="onContainerMouseDown($event)">
  <div class="hc-cmb-ctrl" [ngStyle]="controlStyle">
    <div class="hc-cmb-input">
      <input #input type="text" [ngStyle]="inputStyle" [ngModel]="getSelectedValue()" (input)="onInput($event)" (focusin)="callOnEnter($event)" (focusout)="callOnLeave($event)" [attr.tabindex]="tabIndexAttr" [attr.readonly]="isReadOnlyAttr" />
    </div>
    <div class="hc-cmb-arrow" [ngStyle]="arrowStyle" (mouseover)="onArrowEnter($event)" (mouseout)="onArrowLeave($event)" (click)="onArrowClick($event)">
      <span>
        <i class="fa fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div *ngIf="listVisible" class="hc-cmb-list" [ngStyle]="listStyle" [@listState]>
    <div #scroller class="hc-cmb-list-scroller" [ngStyle]="listScrollerStyle">
      <ul #list>
        <li *ngFor="let entry of entries; index as i;" [ngClass]="{ 'selected': i === getSelectedListIndex() }" (click)="onEntryClicked($event, i)">
          <span *ngIf="entry.getValue()">{{ entry.getValue() }}</span>
          <span *ngIf="!entry.getValue()">&nbsp;</span>
        </li>
      </ul>
    </div>
  </div>
</div>
