@import '../../../../scss/variables.scss';

@mixin header-list {
  display: flex;
  height: $header-height - 0.1rem;

  div {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }

    &.active,
    &:hover {
      color: $header-color-highlight;
      background-color: $header-background-highlight;
    }

    .badgeImage {
      top: 0;
      right: 0;
      position: absolute;
    }

    span.hc-header-close-icon-span {
      margin-left: 0.3rem;
      padding-top: 0.1rem;
      color: $header-color;

      &:hover {
        color: $header-close-hover;
      }

      &:active {
        color: $header-close-active;
      }
    }
  }
}

@mixin header-side-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 0 0.5rem;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }

    &.active,
    &:hover {
      color: $header-color-highlight;
      background-color: $header-background-highlight;
    }

    .badgeImage {
      position: absolute;
      top: 0;
      right: 0;
    }

    span.hc-header-list-title-span {
      flex: 1;
    }

    span.hc-header-close-icon-span {
      flex: 0 0 auto;
      display: flex;
      color: $header-color;

      &:hover {
        color: $header-close-hover;
      }
    }
  }
}

.hc-header {
  position: relative;
  display: flex;
  height: $header-height;
  color: $header-color;
  background-color: $header-background;
  border-bottom: 0.1rem solid $header-border-color;
  user-select: none;
  cursor: default;

  .hc-header-left {
    flex: 1;
    display: flex;
    margin-right: $header-height / 4;

    @media (min-width: $breakpoint) {
      flex: 0 0 auto;
    }

    .hc-header-tools-list {
      display: inline-flex;
      @include header-list();

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    .hc-header-title {
      flex: 0.95;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $header-brand-fontsize;
      font-weight: bold;

      @media (min-width: $breakpoint) {
        flex: 0 0 auto;
        margin-left: $header-height / 4;
      }

      .badgeImage {
        margin-left: 0.5rem;
      }
    }
  }

  .hc-header-center {
    flex: 1;
    display: none;
    position: relative;
    overflow: hidden;

    @media (min-width: $breakpoint) {
      display: flex;
    }

    .arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
      border: 0.1rem solid gray;
      color: gray;
      background-color: white;
      border-radius: 0.2rem;
      opacity: 0;
      z-index: -1000;
      transition: all 0.25s;
      cursor: pointer;

      &.arrowVisible {
        opacity: 0.8;
        z-index: 1000;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        color: #333;
        border-color: #333;
      }
    }

    .arrowLeft {
      left: 0.4rem;
    }

    .arrowRight {
      right: 0.4rem;
    }

    .scroller {
      flex: 1;
      display: flex;

      .hc-header-tabs-list {
        @include header-list();
      }
    }
  }

  .hc-header-right {
    flex: 0 0 auto;
    display: none;
    margin-left: $header-height / 4;

    @media (min-width: $breakpoint) {
      display: flex;
    }

    .hc-header-tools-list {
      @include header-list();
    }
  }
}

.hc-header-side {
  z-index: 3000;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $header-height;
  bottom: 0;
  width: 30rem;
  color: $header-color;
  background-color: $header-background;
  user-select: none;
  cursor: default;

  &:after {
    box-shadow: 1rem 0rem 1rem -1rem black inset;
    content: ' ';
    height: 100%;
    position: absolute;
    right: -1rem;
    width: 1rem;
  }

  .hc-header-side-top {
    flex: 0 0 auto;
    display: flex;
    height: $header-height;
    border-bottom: 0.1rem solid $header-border-color;
    align-items: center;
    justify-content: center;

    span {
      font-size: $header-brand-fontsize;
      font-weight: bold;
    }
  }

  .hc-header-side-middle {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .hc-header-side-tabs-list {
      @include header-side-list();
    }
  }

  .hc-header-side-bottom {
    flex: 0 0 auto;
    border-top: 0.1rem solid $header-border-color;

    .hc-header-side-tools-list {
      @include header-side-list();
    }
  }
}

.hc-header-side-overlay {
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 0;
  background-color: black;
  opacity: 0.75;
}
