@import '../../../scss/variables.scss';

:host, .wrapper {
  position: absolute;
}

.wrapper {
  overflow: hidden;

  .header {
    display: flex;

    .scroller {
      flex: 1;
      display: flex;
      overflow-x: hidden;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      .tabs {
        display: flex;
        align-items: flex-end;

        .tab {
          white-space: nowrap;
          z-index: 1000;
        }
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
