@import '../../../scss/variables.scss';

:host,
.wrapper {
  position: absolute;
}

.wrapper {
  overflow: hidden;

  .header {
    display: flex;

    .scroller {
      flex: 1;
      display: flex;

      &::before {
        content: '';
        left: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }

      &::after {
        content: '';
        right: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }

      &::before,
      &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1rem;
        top: 0;
        bottom: 0;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.25s;
      }

      &.arrowLeft::before,
      &.arrowRight::after {
        opacity: 1;
      }

      .tabs {
        display: flex;

        .tab {
          user-select: none;
          white-space: nowrap;
          z-index: 1000;
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
          }

          &.selected {
            cursor: default;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
