@import '../../../scss/variables.scss';

:host,
.wrapper {
  position: absolute;
}

.wrapper {
  overflow: hidden;

  .header {
    display: flex;
    position: relative;

    .arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.6rem;
      border: 0.1rem solid gray;
      color: gray;
      background-color: white;
      border-radius: 0.2rem;
      opacity: 0;
      z-index: -1000;
      transition: all 0.25s;
      cursor: pointer;

      &.arrowVisible {
        opacity: 0.8;
        z-index: 1000;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        color: #333;
        border-color: #333;
      }
    }

    .arrowLeft {
      left: 0.4rem;
    }

    .arrowRight {
      right: 0.4rem;
    }

    .arrowUp {
      top: 0.4rem;
    }

    .arrowDown {
      bottom: 0.4rem;
    }

    .scroller {
      flex: 1;
      display: flex;

      .tabs {
        display: flex;

        .tab {
          user-select: none;
          white-space: nowrap;
          z-index: 1000;
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
          }

          &.selected {
            cursor: default;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
