<div class="wrapper" [ngStyle]="wrapperStyle">
  <div class="header" [ngStyle]="headerStyle">
    <div #arrowLeft class="arrow arrowLeft" [ngStyle]="arrowHorizontalStyle" (mousedown)="startScrollingUpOrLeft($event)" (mouseup)="stopScrollingUpOrLeft()" (mouseleave)="stopScrollingUpOrLeft()">
      <i class="fa fa-fw fa-angle-left"></i>
    </div>
    <div #arrowUp class="arrow arrowUp" [ngStyle]="arrowVerticalStyle" (mousedown)="startScrollingUpOrLeft($event)" (mouseup)="stopScrollingUpOrLeft()" (mouseleave)="stopScrollingUpOrLeft()">
      <i class="fa fa-fw fa-angle-up"></i>
    </div>
    <overlay-scrollbars #scroller class="scroller os-host-flexbox" [options]="scrollerOptions">
      <div #tabs class="tabs" [ngStyle]="tabsStyle">
        <div *ngFor="let tabPage of tabPages" class="tab" [ngClass]="getTabClasses(tabPage)" [ngStyle]="getTabStyle(tabPage)" (click)="callOnTabClicked(tabPage)">
          <span>{{ tabPage.getCaption() }}</span>
        </div>
      </div>
    </overlay-scrollbars>
    <div #arrowRight class="arrow arrowRight" [ngStyle]="arrowHorizontalStyle" (mousedown)="startScrollingDownOrRight($event)" (mouseup)="stopScrollingDownOrRight()" (mouseleave)="stopScrollingDownOrRight()">
      <i class="fa fa-fw fa-angle-right"></i>
    </div>
    <div #arrowDown class="arrow arrowDown" [ngStyle]="arrowVerticalStyle" (mousedown)="startScrollingDownOrRight($event)" (mouseup)="stopScrollingDownOrRight()" (mouseleave)="stopScrollingDownOrRight()">
      <i class="fa fa-fw fa-angle-down"></i>
    </div>
  </div>
  <div class="content" [ngStyle]="contentStyle">
    <ng-template #anchor></ng-template>
  </div>
</div>
