@import "scss/_variables.scss";

:host,
button {
  position: absolute;
  user-select: none;
}

button {
  overflow: hidden;
  padding: 0 !important;

  .buttonImage {
    width: 100%;
    height: 100%;
  }

  .badgeImage {
    top: 0;
    right: 0;
    position: absolute;
  }

  span {
    position: absolute;
    white-space: nowrap;
  }
}

.outline {
  @include focused-outline-inset;
}
