<button #button type="button" [ngStyle]="buttonStyle" [class.outline]="isOutlined && !this.currentImageUrl" (click)="callBtnClick()" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" (keydown)="callKeyDown($event)" (mouseenter)="callOnMouseEnter($event)" (mouseleave)="callOnMouseLeave($event)" (mousedown)="callOnMouseDown($event)" (mouseup)="callOnMouseUp()" [attr.tabindex]="tabIndexAttr" [attr.disabled]="disabledAttr">
  <img *ngIf="currentImageUrl" [src]="currentImageUrl" class="buttonImage" draggable="false" alt="img" />
  <img *ngIf="badgeImageSrc" [src]="badgeImageSrc" class="badgeImage" draggable="false" alt="img" />
  <span *ngIf="showCaption" [ngStyle]="textStyle">{{ caption }}</span>
</button>
