@use '../../../scss/variables.scss' as *;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hc-form-scroller {
  -webkit-overflow-scrolling: touch;
  position: relative;
  flex: 1;
}
