<div class="hc-cmb-free-mobile" [ngStyle]="containerStyle" (mousedown)="onContainerMouseDown($event)">
  <div #control class="hc-cmb-free-mobile-ctrl" [ngStyle]="controlStyle" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" (click)="onControlClick($event)" [attr.tabindex]="tabIndexAttr">
    <div class="hc-cmb-free-mobile-value" [ngStyle]="valueStyle">
      <span>{{ getSelectedValue() }}</span>
    </div>
    <div #arrow class="hc-cmb-free-mobile-arrow">
      <span>
        <fa-icon [icon]="iconCaretDown"></fa-icon>
      </span>
    </div>
  </div>
</div>
