@import '../../../scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid $grey2;
    border-radius: 5px;
    @include gradient-silver();

    .headline > h3 {
      font-weight: bold;
      padding-bottom: 0.25rem;
      margin-bottom: 0;
      border-bottom: 1px solid lightgray;
    }

    .editor {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        .form-actions {
          display: flex;
          justify-content: flex-end;
          margin-top: 0.5rem;

          button:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .broker-list-header {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      h4 {
        flex: 1;
        margin: 0;
        padding: 0;
      }

      button {
        flex: 0 1 auto;
        min-width: auto !important;
        min-height: auto !important;
        line-height: 0 !important;
        padding: 0.4rem 0.5rem !important;
      }
    }

    .broker-list {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;

      .no-broker {
        padding: 0.5rem 0;
      }

      .broker-list-wrapper {
        display: flex;
        flex-direction: column;

        .broker {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          overflow: hidden;
          transition: padding-left 200ms;
          cursor: pointer;

          &:hover,
          &:active {
            padding-left: 1rem;
          }

          .broker-name {
            flex: 0 1 auto;

            span.active {
              color: red;
            }
          }

          .broker-url {
            flex: 1;
            padding: 0 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .broker-action {
            flex: 0 1 auto;

            button {
              min-width: auto !important;
              min-height: auto !important;
              line-height: 0 !important;
              padding: 0.4rem 0.5rem !important;
            }
          }
        }
      }
    }
  }
}












// .table {
//   white-space: nowrap;
// }

// .table > thead,
// .table > tbody,
// .table > tfoot {
//   tr {
//     th.fit, td.fit {
//       white-space: nowrap;
//       width: 1%;
//     }

//     th.ellipsis, td.ellipsis {
//       max-width: 0;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       white-space: nowrap;
//     }
//   }
// }

// .table > thead,
// .table > tbody,
// .table > tfoot {
//   tr {
//     th, td {
//       vertical-align: middle;
//       border: none;
//     }
//   }
// }

// .table > tbody > tr > td > span.active {
//   color: red;
// }

// .table-hover > tbody > tr {
//   &:hover {
//     background-color: $white;
//   }

//   td {
//     cursor: pointer;
//   }
// }

// ul.errorlist {
//   color: $error;
// }
