<div class="wrapper" hcDialogResize [maxWidth]="600">
  <div class="headline">
    <h3>{{ editing ? 'Add Broker' : 'Login' }}</h3>
  </div>

  <div class="editor" *ngIf="editing">
    <form [formGroup]="addForm" (ngSubmit)="addBroker()">
      <div class="form-inputs">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error *ngIf="nameControl.hasError('broker') && !nameControl.hasError('required')">
            Name already in use
          </mat-error>
          <mat-error *ngIf="nameControl.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Url" formControlName="url" />
          <mat-error *ngIf="urlControl.hasError('required')">
            Url is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-actions">
        <button type="reset" mat-raised-button color="primary" (click)="exitEditor()">Cancel</button>
        <button type="submit" mat-raised-button color="primary">Add</button>
      </div>
    </form>
  </div>

  <div class="broker-list-header" *ngIf="!editing">
    <h4>Available Brokers</h4>
    <button mat-raised-button color="primary" (click)="openEditor()">
      <span class="fas fw fa-plus"></span>
    </button>
  </div>

  <div class="broker-list" *ngIf="!editing">
    <div class="no-broker" *ngIf="(brokers$ | async) == null || !(brokers$ | async).length">
      <span>No Brokers defined...</span>
    </div>
    <div class="broker-list-wrapper" *ngIf="(brokers$ | async) && (brokers$ | async).length">
      <div class="broker" *ngFor="let broker of (brokers$ | async); index as i" (click)="loadBroker(broker)">
        <div class="broker-name">
          <span *ngIf="broker.name === (activeBrokerName$ | async)" class="active">(Active) </span>
          <span>{{ broker.name }}</span>
        </div>
        <div class="broker-url">
          {{ broker.url }}
        </div>
        <div class="broker-action">
          <button mat-raised-button color="warn" (click)="deleteBroker(i)">
            <span class="fas fw fa-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
