@import '../../../scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid $grey2;
    border-radius: 5px;
    @include gradient-silver();

    .headline {
      flex: 0 0 auto;

      h3 {
        font-weight: bold;
        padding-bottom: 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid lightgray;
      }
    }

    .editor {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        .form-inputs {
          display: flex;
          flex-direction: column;
          overflow: auto;
          overflow-x: hidden;
        }

        .form-actions {
          flex: 0 0 auto;
          display: flex;
          justify-content: flex-end;
          margin-top: 0.5rem;

          button:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .broker-list-header {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      margin-top: 1rem;

      h4 {
        flex: 1;
        margin: 0;
        padding: 0;
      }

      button {
        flex: 0 0 auto;
        min-width: auto !important;
        min-height: auto !important;
        line-height: 0 !important;
        padding: 0.4rem 0.5rem !important;
      }
    }

    .broker-list {
      display: flex;
      flex-direction: column;
      overflow: auto;
      overflow-x: hidden;
      margin-top: 0.5rem;

      .no-broker {
        padding: 0.5rem 0;
      }

      .broker-list-wrapper {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;

        .broker {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          overflow: hidden;
          transition: padding-left 200ms;
          cursor: pointer;

          &:hover,
          &:active {
            padding-left: 1rem;
          }

          .broker-name {
            flex: 0 0 auto;

            span.active {
              color: red;
            }
          }

          .broker-url {
            flex: 1;
            padding: 0 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .broker-action {
            flex: 0 0 auto;

            button {
              min-width: auto !important;
              min-height: auto !important;
              line-height: 0 !important;
              padding: 0.4rem 0.5rem !important;
            }
          }
        }
      }
    }
  }
}
