@import '../../../scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  margin: 0px 20px;
  padding: 20px;
  border: 1px solid $grey2;
  border-radius: 5px;
  @include gradient-silver();
}

@media (min-width: $breakpoint) {
  .wrapper {
    width: 600px;
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey3;
}

.table {
  white-space: nowrap;
}

.table > thead,
.table > tbody,
.table > tfoot {
  tr {
    th.fit, td.fit {
      white-space: nowrap;
      width: 1%;
    }

    th.ellipsis, td.ellipsis {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.table > thead,
.table > tbody,
.table > tfoot {
  tr {
    th, td {
      vertical-align: middle;
      border: none;
    }
  }
}

.table-hover > tbody > tr {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $grey1;
    background-color: $white;
  }

  td {
    cursor: pointer;
  }
}

ul.errorlist {
  color: $error;
}
