<div class="wrapper" hcDialogResize [minWidth]="600" [maxWidth]="600" [ignoreHeight]="true">
  <div class="title">
    <div class="icon">
      <img width="55" src="assets/logo.png" alt="img" />
    </div>
    <h2>Mobile Client</h2>
  </div>

  <div class="content">
    <div class="contentWrapper">
      @if (!editorShown && lastSessionInfo != null) {
      <div class="headline">
        <h3>Continue Session</h3>
      </div>

      <mat-card appearance="outlined" class="last-session" (click)="continueSession()">
        <h3 class="session-name">{{ lastSessionInfo.getLastBroker() }}</h3>
        <div class="session-date">{{ getLastRequestTimeLocalString() }}</div>
      </mat-card>
      }

      <div class="headline">
        <h3>{{ editorShown ? (editingExisting ? 'Edit Broker' : 'Add Broker') : 'Login' }}</h3>
        @if (!editorShown) {
        <div class="actions">
          <button type="button" mat-button color="primary" (click)="openEditorNew()">
            <fa-icon [icon]="iconPlus" [fixedWidth]="true" />
            <span> New</span>
          </button>
        </div>
        }
      </div>

      @if (editorShown) {
      <div class="editor">
        <form [formGroup]="addForm" (ngSubmit)="saveBroker()">
          <mat-form-field>
            <input matInput [readonly]="editingExisting" placeholder="Name" formControlName="name" />
            @if (nameControl.hasError('broker') && !nameControl.hasError('required')) {
            <mat-error>
              Name already in use
            </mat-error>
            }
            @if (nameControl.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Url" formControlName="url" />
            @if (urlControl.hasError('required')) {
            <mat-error>
              Url is required
            </mat-error>
            }
          </mat-form-field>
          <div class="form-actions">
            @if (editingExisting) {
            <button class="delete-action" type="button" mat-raised-button [disabled]="this.nameControl.value === activeBrokerName" color="warn" (click)="deleteBroker(this.nameControl.value)">
              <fa-icon [icon]="iconTrash" [fixedWidth]="true" />
            </button>
            }
            <button class="edit-action" type="submit" [disabled]="!addForm.valid" mat-raised-button color="primary">{{ editingExisting ? 'Save' : 'Add' }}</button>
            <button class="edit-action" type="reset" mat-raised-button color="primary" (click)="exitEditor()">Cancel</button>
          </div>
        </form>
      </div>
      } @else {
      <div class="broker-list">
        @if ((brokers$ | async) == null || !(brokers$ | async)?.length) {
        <mat-card appearance="outlined">
          <span>No brokers defined...</span>
        </mat-card>
        }
        @if ((brokers$ | async) != null && (brokers$ | async)?.length) {
        <div class="broker-list-wrapper">
          @for (broker of (brokers$ | async); track $index) {
          <mat-card appearance="outlined" [ngClass]="{ active: broker.name === activeBrokerName }" (click)="loadBroker($event, broker)">
            <div class="broker">
              <h3 class="broker-name">{{ broker.name }}</h3>
              <div class="broker-actions">
                <button type="button" mat-raised-button [disabled]="broker.name === activeBrokerName" color="primary" (click)="openEditorUpdate(broker)">
                  <fa-icon [icon]="iconEdit" [fixedWidth]="true" />
                </button>
              </div>
            </div>
          </mat-card>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
