<nav class="header">
  <div class="header-left" [style.background-color]="getFormBgColor()">
    <div class="header-left-label">
      <span>{{ getFormTitle() }}</span>
      @if (getBadgeImageSrc() != null) {
      <img [src]="getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
      }
    </div>
  </div>
  <div class="header-right">
    @if (isCloseIconVisible) {
    <button type="button" (click)="closeForm()">
      <fa-icon [icon]="iconTimes" [fixedWidth]="true" size="lg" />
    </button>
    }
  </div>
</nav>
