@use 'sass:math';

@use '../../../../scss/variables.scss' as *;

$header-border: 0.1rem solid $header-border-color;

.header {
  display: flex;
  height: $header-height;
  color: $header-color;
  background-color: $header-background;
  user-select: none;
  cursor: default;

  .header-left {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    margin-top: 0.3rem;
    padding: 0 math.div($header-height, 2);
    border-top: $header-border;
    border-right: $header-border;

    .header-left-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $header-brand-fontsize;
      font-weight: bold;

      img {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
      }
    }
  }

  .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-bottom: $header-border;

    button {
      color: $header-color;
      background-color: transparent;
      padding: 0 0.75rem;
      border: none;

      &:active,
      &:hover {
        background-color: $header-background-highlight;
      }

      &:hover {
        color: $header-close-hover;
      }

      &:active {
        color: $header-close-active;
      }
    }
  }
}
