:host, .item-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.item-container {
  overflow: hidden;
}

.item-active {
  transform: translate(0.1rem, 0.1rem);
}
