<div #wrapper class="wrapper" [ngStyle]="wrapperStyle" (focusout)="onFocusOut($event)" tabindex="0" [@listwrapper]>
  <div *ngIf="isHeaderVisible()" class="header" [ngStyle]="headerStyle" [@listheader]>
    <button type="button" class="btn-close" [ngStyle]="buttonCloseStyle" (click)="closeSelectionMode()">
      <fa-icon [icon]="iconTimes" [fixedWidth]="true"></fa-icon>
    </button>
    <button type="button" [ngStyle]="buttonStyle" (click)="selectAll()" [attr.disabled]="isEditable ? null : true">All</button>
    <button type="button" [ngStyle]="buttonStyle" (click)="selectNone()" [attr.disabled]="isEditable ? null : true">None</button>
  </div>
  <div class="itemContainer" [ngStyle]="itemContainerStyle">
    <div class="itemList" [ngStyle]="itemListStyle">
      <ng-template #anchor></ng-template>
    </div>
    <div *ngIf="hasBottomPadding" class="bottom-padding" [ngStyle]="bottomPaddingStyle"></div>
  </div>
</div>
