@if (sidebarVisible) {
<nav [@sidebar] class="sidebar" [ngStyle]="headerSideStyle">
  <div class="sidebar-top">
    <span>{{ appTitle }}</span>
  </div>
  <div class="sidebar-bottom">
    <ul class="sidebar-tabs-list">
      @for (form of forms; track $index) {
      <li [ngClass]="{'active': form.getId() === selectedForm?.getId()}" (click)="selectForm($event, form)">
        @if (form.getBadgeImageSrc() != null) {
        <img [src]="form.getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
        }
        <span>{{ form.getTitle() }}</span>
        @if (form.isCloseIconVisible()) {
        <button type="button" (click)="closeForm(form)" class="sidebar-form-close-btn">
          <fa-icon [icon]="iconTimes" />
        </button>
        }
      </li>
      }
    </ul>
  </div>
</nav>

<div [@overlay] class="sidebar-overlay" [ngStyle]="headerSideOverlayStyle" (click)="toggleSidebar()"></div>
}
