<div class="wrapper" [ngStyle]="wrapperStyle" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)" (keydown)="callKeyDown($event)" (mousedown)="onWrapperMouseDown($event)">
  <label class="label" tabindex="-1" [attr.for]="id" [ngStyle]="labelStyle" (mousedown)="onLabelMouseDown()">
    <input #input class="input visually-hidden" [attr.id]="id" type="checkbox" [(ngModel)]="value" (change)="callBoxClick($event)" [attr.tabindex]="tabIndexAttr" [attr.disabled]="disabledAttr">
    <div class="checkbox-container">
      <div class="checkbox-frame"></div>
      <div class="checkbox-checked">
        <svg xml:space="preserve" class="checkbox-checkmark" focusable="false" version="1.1" viewBox="0 0 24 24">
          <path class="checkbox-checkmark-path" d="M4.1,12.7 9,17.6 20.3,6.3" fill="none" stroke="white"></path>
        </svg>
      </div>
    </div>
    <div *ngIf="caption" [ngStyle]="captionStyle">
      <span [class.outline]="isOutlined">{{ caption }}</span>
    </div>
  </label>
</div>
