<nav class="header" hcMediaQuery [mediaQuery]="'(min-width: 768px)'" (mediaQueryChanged)="mediaQueryChanged($event)">
  <div class="header-left" [style.background-color]="showCompact ? getFormBgColor() : null">
    <div class="header-left-label">
      <span>{{ showCompact ? getFormTitle() : appTitle }}</span>
      @if (showCompact && getBadgeImageSrc() != null) {
      <img [src]="getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
      }
    </div>
  </div>
  @if (!showCompact) {
  <div class="header-center" [style.background-color]="getFormBgColor()">
    <div class="header-center-label">
      <span>{{ getFormTitle() }}</span>
      @if (getBadgeImageSrc() != null) {
      <img [src]="getBadgeImageSrc()" class="badgeImage" draggable="false" alt="img">
      }
    </div>
  </div>
  }
  <div class="header-right">
    <button type="button" [attr.disabled]="disabledAttr" (click)="switchBroker()">
      <fa-icon [icon]="iconSignOut" [fixedWidth]="true" size="lg" />
    </button>
  </div>
</nav>
