<div class="hc-retrybox-wrapper" hcDialogResize>
  <div class="hc-retrybox-header">
    <div class="hc-retrybox-header-title">
      <span>{{ title }}</span>
    </div>
    <div class="hc-retrybox-header-icon">
      <fa-icon [icon]="iconExclamation" size="2x" />
    </div>
  </div>
  @if (!showStackTrace) {
  <div class="hc-retrybox-message">
    <span>{{ message }}</span>
  </div>
  }
  @if (showStackTrace && stackTrace) {
  <div class="hc-retrybox-stacktrace">
    <div class="hc-retrybox-stacktrace-scroller">
      <span>{{ stackTrace }}</span>
    </div>
  </div>
  }
  <div #footer class="hc-retrybox-footer" tabindex="-1" cdkTrapFocus>
    @if (stackTrace) {
    <button type="button" mat-raised-button (click)="onDetailsClick()">Details</button>
    }
    <button type="button" mat-raised-button (click)="onAbortClick()">Abort</button>
    <button type="button" mat-raised-button (click)="onRetryClick()">Retry</button>
  </div>
</div>
