* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: $global-font;
  font-size: $global-font-size;
}

#hc-load-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hc-load-wrapper-inner {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  outline: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
}
