// Font
$global-font: Arial, Helvetica, sans-serif;
$global-font-size: 14px;

// Colors
$white: #fff;
$grey1: #e7e7e7;
$grey2: #bbb;
$grey3: #333;
$error: #d9534f;
$outline: #333;

// Header
$header-height: 40px;
$header-brand-fontsize: 1.25em;
$header-color: #555;
$header-close-hover: #d9534f;
$header-color-highlight: #337ab7;
$header-background: #f8f8f8;
$header-background-highlight: #e7e7e7;
$header-border-color: #e7e7e7;

// Loading
$loading-bar-height: 2px;
$loading-bar-color: #337ab7;

// Layout
$breakpoint: 768px;

// Mixins
@mixin gradient-silver {
  /* Old browsers */
  background: rgb(240, 240, 240);
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
}

@mixin focused-outline {
  outline-color: $outline !important;
  outline-offset: 1px  !important;
  outline-style: dashed  !important;
  outline-width: 1px  !important;
}

@mixin focused-outline-inset {
  outline-color: $outline  !important;
  outline-offset: -4px  !important;
  outline-style: dashed  !important;
  outline-width: 1px !important;
}
