html, body {
  height: 100%;
  overflow: hidden;
}

#hc-load-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hc-load-wrapper-inner {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

#wrapper {
  height: 100%;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
}
