* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: $global-font;
  font-size: $global-font-size;
}

#wrapper {
  height: 100%;
}

#hc-load-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hc-load-wrapper-inner {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
}
