@use '../../../scss/variables.scss' as *;

:host {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  hc-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
